SMSStub/WebContent/wsdl/SMSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sms.antel.com.uy" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sms.antel.com.uy" xmlns:intf="http://sms.antel.com.uy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sms.antel.com.uy" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendSMS">
    <complexType>
     <sequence>
      <element name="number" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendSMSResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendSMSResponse">

      <wsdl:part element="impl:sendSMSResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendSMSRequest">

      <wsdl:part element="impl:sendSMS" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SMSService">

      <wsdl:operation name="sendSMS">

         <wsdl:input message="impl:sendSMSRequest" name="sendSMSRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendSMSResponse" name="sendSMSResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SMSServiceSoapBinding" type="impl:SMSService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendSMS">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendSMSRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendSMSResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SMSServiceService">

      <wsdl:port binding="impl:SMSServiceSoapBinding" name="SMSService">

         <wsdlsoap:address location="http://localhost:8080/SMSStub/services/SMSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
